<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
    xmlns:tizen="http://tizen.org/ns/widgets"
    id="https://software.baycho/zingchart/tv"
    version="1.0.0"
    viewmodes="maximized">
  <tizen:application
      id="ZingChart1.ZingChartTV"
      package="ZingChart1"
      required_version="8.0" />
  <content src="index.html" />
  <feature name="http://tizen.org/feature/screen.size.all" />
  <icon src="icon.png" />
  <name>#zingChart</name>
  <description>Bảng xếp hạng và trình phát nhạc cho Samsung TV</description>
  <tizen:profile name="tv-samsung" />
  <tizen:metadata
      key="http://samsung.com/tv/metadata/devel.api.version"
      value="8.0" />
  <tizen:privilege name="http://tizen.org/privilege/internet" />
  <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice" />
  <access origin="*" subdomains="true" />
  <tizen:setting
      screen-orientation="landscape"
      context-menu="disable"
      background-support="disable"
      encryption="disable"
      install-location="auto"
      hwkey-event="enable" />
</widget>
